body {
    font-family: fantasy;
    margin: 0;
    padding: 0;
    background: linear-gradient(to bottom, #f5f5dc, #d3d3c0); /* Gradiente linear */
}

.form {
    padding: 40px;
    border-radius: 30px;
    background-color: rgb(58, 58, 104);
    border: 2px solid rgb(58, 58, 104);
    max-width: 600px;
    margin: 50px auto;
}

h1 {
    color: white;
    text-align: center;
    margin-bottom: 20px;
    font-size: 50px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: white;
}

input[type="text"],
input[type="email"],
input[type="date"],
input[type="password"] {
    width: calc(100% - 22px);
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box; /* Garante que a largura inclua o preenchimento e a borda */
}

input[type="reset"] {
    width: 100%;
    background-color: white;
    color: rgb(81, 74, 74);
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 16px;
    margin-bottom: 20px;
}

input[type="submit"] {
    width: 100%;
    background-color: #fff;
    color: rgb(81, 74, 74);
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 16px;
}

input[type="reset"]:hover {
    background-color: rgb(154, 154, 211);
}

input[type="submit"]:hover {
    background-color: rgb(154, 154, 211);
}
