*{
    box-sizing: border-box;
}

body{
    margin:0;
    background-image: linear-gradient(to right,rgba(94, 50, 168),rgba(135, 5, 18));
}

table{
    color:white;
    padding:100px;
}

h2{
    padding:20px;
    color:white;
    text-align: center;
}